.DS_Store
.DS_Store
ora/.DS_Store
Prism.xcodeproj/project.xcworkspace/xcuserdata/tanislavivanov.xcuserdatad/UserInterfaceState.xcuserstate
Prism.xcodeproj/project.xcworkspace/xcuserdata/tanislavivanov.xcuserdatad/UserInterfaceState.xcuserstate
